body{
    background-color:#e86d6f ;
}
h3{
    font-size: 70px;
}
h5{
    font-size: 30px;
}
pre{
    font-size: 30px;
}
p{
    font-size: 30px;
}
span{
    font-size: 30px;
    color:#ceb468;
}
div{
    font-size: 30px;
    color:#ceb468;
}
.para_1{  
    font-size: 30px;
    color: #063617;
}
#ipsum{
    background-image: url(default.png) ;height = "";
    font-size: 40px;
    color:#605b30 ;
}













