body{
    background-color: azure;
}
/*commenting in css */

/*for classes we use a dot infront of the class you assigned*/
.logo{
    background: url(images/default.png);
    width: 1000px;
    height: 750px;
    ruby-align: center;
    
}
h1{
    text-align: center;
    color: #2f1043;
    font-size:500%;
}
h2{
    text-align: left;
    color: #2f1043;
    font-size:230%;
}
h3{
    text-align: left;
    font-size: 200%;
    color:#685f77 ;
}
h4{
    text-align: left;
    color: #2f1043;
    font-size:230%;
}
p{
    font-family:  Times, serif;
    text-align: left;
    font-size: 180%;
    color:#25406e ;
}