body{
    background-color: azure;
}
.IMG_1{
    height: 800px;
    width:1500px;
    background-image: url(IMAGE_2.jpeg);
    background-size: cover;

}
h1{
    text-align: center;
    color: #2f1043;
    font-size:500%;
}
h3{
    text-align: left;
    font-size: 200%;
    color:#685f77 ;
}